body {
    margin: 0;
    background-color: slateblue;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgb(142, 133, 199);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 1rem;           
    margin-top:2rem;
}

#task-input {
    background-color: rgb(98, 88, 176);
    border: 1px solid rgb(155, 149, 197); 
    border-radius: 5px;
    padding: 1rem;
    width: 25rem;
    max-width: 100%;                      
    text-align: center;
    outline: none;
    color: white;
    font-size: 2rem;
}

#task-input:focus {
    border-color: rgb(80, 64, 185);
}

#task-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#task-input:focus::placeholder {
    color: transparent;
}

#submit-btn {
    background-color: rgb(98, 88, 176);
    border: 1px solid rgb(155, 149, 197); 
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    color: white;                         
    font-weight: bold;
    cursor: pointer;
    width: 7rem; 
}